* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    position: relative;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

ul,
li {
    list-style-type: none;
    padding-left: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1,
h2,
h3,
h4,
p,
body {
    margin: 0;
    padding: 0;
}

input,
select,
option {
    outline: none !important;
}

button:active,
button:focus {
    border: 0;
    outline: none;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

body {
    font-family: "Montserrat";
    font-size: 1rem;
}

.container {
    display: block;
    position: relative;
    width: 1146px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.container:before,
.container:after {
    display: table;
    content: " ";
}
